<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<!-- Bootstrap core CSS -->
<!-- <link href="/css/bootstrap.min.css" rel="stylesheet" /> -->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

<!-- <link href="/css/non-responsive.css" rel="stylesheet" /> -->
<link href="/css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<style>
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<p>
		Dear <span th:text="${ownerName}"></span>,
	</p>
	<p>
		There is a request from Mr/Mrs/Miss <em><span
			th:text="${user.firstName}"></span></em> to rent your vehicle from <strong><span
			th:text="${#calendars.format(pickUpDate,'MM/dd')}"></span><em>
				to </em> <span th:text="${#calendars.format(returnBackDate,'MM/dd')}"></span></strong>.
		We hope you will value this request, accept or cancel the request by
		clicking respective buttons, incase the choice is no please cancel the
		request for vehicle to reappear in searches.
	</p>
	<div>
		<form th:action="${appUrl}" method="post">

			<button type="submit"
				style="width: 45%; letter-spacing: 1px; color: #721c24; background-color: #28b485; margin-bottom: 1.3rem; line-height: 2.4rem; font-size: 1.4rem;">Submit</button>

		</form>

		<form th:action="${appUrlCancel}" method="post">

			<button type="submit"
				style="width: 45%; letter-spacing: 1px; color: #721c24; background-color: #ff2e4c; margin-bottom: 1rem; line-height: 2.4rem; font-size: 1.4rem;">Cancel</button>

		</form>
	</div>

	<p>
		Request order number is: <strong>#<span th:text="${order.id}"></span></strong>.
		Here's the order detail:
	</p>

	<!-- <a class="btn btn-danger" style="width: 200px; letter-spacing: 1px;" th:href="@{/}">Cancel</a> -->


	<h2>
		Request Detail for order #<span th:text="${order.id}"></span>
	</h2>
	<hr />

	<table>
		<tr>
			<th>Requester Billing Address</th>
			<!-- <th>P Information</th> -->
			<th>Requester Service Address</th>
		</tr>
		<tr>
			<td><span th:text="${order.billingAddress.billingAddressName}"></span><br />
				<span
				th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br />
				<span th:text="${order.billingAddress.billingAddressCity}"></span><br />
				<span th:text="${order.billingAddress.billingAddressState}"></span><br />
				<span th:text="${order.billingAddress.billingAddressZipcode}"></span><br />
			</td>
			<!-- <td><span th:text="${order.payment.holderName}"></span><br /> <span
				th:text="${order.payment.type}"></span><br /> <span
				th:text="${order.payment.cardNumber}"></span><br /> <span
				th:text="${order.payment.expiryMonth}"></span><br /> <span
				th:text="${order.payment.expiryYear}"></span><br /></td> -->
			<td><span th:text="${order.shippingAddress.shippingAddressName}"></span><br />
				<span
				th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br />
				<span th:text="${order.shippingAddress.shippingAddressCity}"></span><br />
				<span th:text="${order.shippingAddress.shippingAddressState}"></span><br />
				<span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br />
			</td>
		</tr>
	</table>

	<h3>
		<strong>Order Summary</strong>
	</h3>
	<table>
		<thead>
			<tr>
				<td><strong>Vehicle Name</strong></td>
				<td class="text-center"><strong>Price</strong></td>
				<td class="text-center"><strong></strong></td>
				<td class="text-right"><strong>Total</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cartItem : ${cartItemList}">
				<td><span data-th-text="${cartItem.car.title}"></span></td>
				<td class="text-center" data-th-text="${cartItem.car.ourPrice}"></td>
				<td class="text-center"></td>
				<!-- data-th-text="${cartItem.qty}" -->
				<td class="text-right" data-th-text="${cartItem.subtotal}"></td>
			</tr>
			<tr>
				<td class="highrow"></td>
				<td class="highrow"></td>
				<td class="highrow text-center"><strong>Subtotal</strong></td>
				<td class="highrow text-right" data-th-text="${order.orderTotal}"></td>
			</tr>
			<tr>
				<td class="emptyrow"></td>
				<td class="emptyrow"></td>
				<td class="emptyrow text-center"><strong>Tax</strong></td>
				<td class="emptyrow text-right"
					data-th-text="${#numbers.formatDecimal(order.orderTotal*0.06,0,2)}"></td>
			</tr>
			<tr>
				<td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
				<td class="emptyrow"></td>
				<td class="emptyrow text-center"><strong>Total</strong></td>
				<td th:with="total=${order.orderTotal+order.orderTotal*0.06}"
					data-th-text="${#numbers.formatDecimal(total, 0, 2)}"
					class="emptyrow text-right"></td>
			</tr>
		</tbody>
	</table>

	<br />
	<p>Regards,</p>
	<div>ComeHomeCar</div>
</body>
</html>