
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/car/updateCar}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block" style="text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.1);">
						Update car Information<span style="font-size: small"> * is a
							required field</span>
					</legend> 
					
					<input hidden="hidden" name="id" th:value="${car.id}"/>					
					<input hidden="hidden" th:name="profileImageUrl" th:value="${car.profileImageUrl}"/>		
					
					<div class="col-md-9 col-md-offset-1 col-xs-11 col-xs-offset-1"
						style="background-color: #f2f9f1;">

						<!-- title -->
						<div class="form-group">
							<label for="title">*Title</label> <input type="text" name="title"
								class="form-control" id="title" th:value="${car.title}"
								required="required" placeholder="Title describing the car best" />
						</div>

						<!-- company -->
						<div class="form-group">
							<label for="company">*Company</label> <input type="text"
								name="company" class="form-control" id="company"
								th:value="${car.company}" required="required"
								placeholder="Car Manufacturing Company" />
						</div>


						<!-- MakeandModel -->
						<div class="form-group">
							<label for="MakeandModel">*Make &amp; Model</label> <input
								type="text" name="makeAndModel" class="form-control"
								id="makeAndModel" th:value="${car.makeAndModel}"
								required="required" placeholder="Make &amp; Model" />
						</div>

						<!-- feature -->
						<div class="form-group">
							<label for="feature">*Feature</label> <input type="text"
								name="feature" class="form-control" id="feature"
								th:value="${car.feature}" required="required"
								placeholder="Feature" />
						</div>

						<!-- category -->
						<div class="form-group">
							<label for="category">*Category</label> <select
								th:value="${car.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="convertible" th:selected="(${car.category}=='convertible')">Convertible</option>
								<option value="coupe" th:selected="(${car.category}=='coupe')">Coupe</option>
								<option value="crossover" th:selected="(${car.category}=='crossover')">Crossover</option>
								<option value="hatchback" th:selected="(${car.category}=='hatchback')">Hatchback</option>
								<option value="minivan" th:selected="(${car.category}=='minivan')">MiniVan</option>
								<option value="sedan" th:selected="(${car.category}=='sedan')">Sedan</option>
								<option value="suv" th:selected="(${car.category}=='suv')">SUV</option>
								<option value="truck" th:selected="(${car.category}=='truck')">Truck</option>
								<option value="wagon" th:selected="(${car.category}=='wagon')">Wagon</option>
							</select>
						</div>

						<!-- SeatingCapacity -->
						<div class="form-group">
							<label for="seatingCapacity">Seating Capacity</label> <input
								type="number" name="seatingCapacity" class="form-control"
								id="seatingCapacity" th:value="${car.seatingCapacity}"
								placeholder="Seating Capacity" />
						</div>

						<!-- owner -->
						<div class="form-group">
							<label for="owner">*Owner's Name</label> <input type="text"
								name="owner" class="form-control" id="owner"
								th:value="${car.owner}" required="required"
								placeholder="Your Name" />
						</div>

						<!-- Segment -->
						<div class="form-group">
							<label for="segment">*Segment</label> <select
								th:value="${car.segment}" id="segment" name="segment"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="commuterCar"
									th:selected="(${car.segment}=='commuterCar')">Commuter
									Cars</option>
								<option value="sports &amp; Race"
									th:selected="(${car.segment}=='sports &amp; Race')">Sports
									&amp; Race</option>
								<option value="luxury" th:selected="(${car.segment}=='luxury')">Luxury</option>
								<option value="classic &amp; antique"
									th:selected="(${car.segment}=='classic &amp; antique')">Classic
									&amp; Antique</option>
								<option value="motorCycle"
									th:selected="(${car.segment}=='motorCycle')">Motorcycle</option>
								<!-- <option value="organizantion"
									th:selected="(${car.segment}=='organizantion')">Organization</option> -->
							</select>
						</div>

						<!-- list price -->
						<div class="form-group">
							<label for="listPrice">*List Price</label>
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${car.listPrice}" type="number" name="listPrice"
									step="0.01" class="form-control" id="listPrice"
									placeholder="List Price" />
							</div>
						</div>

						<!-- offered price -->
						<div class="form-group">
							<label for="ourPrice">*Offered Price</label>
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${car.ourPrice}" type="number" name="ourPrice"
									step="0.01" class="form-control" id="ourPrice"
									placeholder="Our Price" />
							</div>

						</div>

						<!-- barter price -->
						<div class="form-group">
							<label for="barterPrice">Barter Price</label>

							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${car.barterPrice}" type="number" name="barterPrice"
									step="0.01" class="form-control" id="barterPrice"
									placeholder="Barter Price" />
							</div>
						</div>

						<!-- status of car -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="status"
								style="text-align: center;">Car Search Status</label>
							<div class="col-md-7">
								<label><input value="true" type="radio" name="active"
									th:checked="${car.active}" /> Active </label> <label><input
									value="false" type="radio" name="active" th:checked="${!car.active}"/> Inactive </label> <span
									class="help-block">Whether the car is active or inactive
									in business..</span>
							</div>
						</div>

						<!--barter participation status of car -->
						<div class="form-group">
							<label class="col-md-3 control-label" for="barterStatus"
								style="text-align: center;">Barter Participation</label>
							<div class="col-md-7">
								<label><input value="true" type="radio"
									name="barterActive" th:checked="${car.barterActive}"/> Active </label> <label><input
									value="false" type="radio" name="barterActive" th:checked="${!car.barterActive}"/> Inactive </label> <span
									class="help-block">Whether the car participates in
									barter exchange or not..</span>
							</div>
						</div>

						<!-- description -->
						<div class="form-group">
							<label for="description">Description</label>
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${car.description}" th:text="${car.description}"
								placeholder="Description"></textarea>
						</div>

						<hr />
						<!-- Address -->
						<div class="form-group">
							<label for="businessAddress">*Business Address</label> <input
								type="text" class="form-control" id="businessAddress"
								placeholder="Street Address" th:name="businessAddressStreet1"
								required="required" th:value="${car.businessAddressStreet1}" />
							<input type="text" class="form-control" id="businessAddress"
								placeholder="Suite or House no."
								th:name="businessAddressStreet2"
								th:value="${car.businessAddressStreet2}" />
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="businessCity">*City</label> <input type="text"
										class="form-control" id="businessCity"
										placeholder="Business City" th:name="businessAddressCity"
										required="required" th:value="${car.businessAddressCity}" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="businessState">*State</label> <select
										id="businessState" class="form-control"
										th:name="businessAddressState"
										th:value="${car.businessAddressState}" required="required">
										<option value="" selected="selected" disabled="disabled">Please select a
											state</option>
										<option th:each="state : ${stateList}" th:text="${state}"
											th:selected="(${car.businessAddressState}==${state})"></option>
									</select>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label for="businessZipcode">*Zipcode</label> <input
										type="text" class="form-control" id="businessZipcode"
										placeholder="Zipcode"
										th:name="businessAddressZipcode" required="required"
										th:value="${car.businessAddressZipcode}" />
								</div>
							</div>
						</div>
						<hr />
						<!-- upload image -->
						<div class="form-group">
							<div class="col-md-2">
								<label for="carImage" style="color: #aa530e;"><em>Upload
										Car Image</em></label>
							</div>
							<div class="col-md-8">
								<input id="carImage" type="file" name="file"
									th:value="${car.profileImageUrl}" />
							</div>
						</div>

						<div class="form-group">
						    <div class="col-md-12">						     
							<button type="submit" class="btn btn-success"
								style="width: 200px; letter-spacing: 1px;">Save Updates</button>
							<a class="btn btn-danger" style="width: 200px; letter-spacing: 1px;" th:href="@{/}">Cancel</a>
						   </div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div th:replace="common/header :: footer"></div> 
	<div th:replace="common/header :: body-bottom-scripts"></div>
	
</body>
</html>
